# docker-compose.yml
version: '3'

services:
  wordpress:
    image: wordpress
    links:
      - mariadb
    ports:
      - "80:80"
    environment:
      WORDPRESS_DB_PASSWORD: r8yvpE7HivnKv5k
      WORDPRESS_DB_USER: wordpress
    depends_on:
       - mariadb
    volumes:
      - wordpress:/var/www/html
    networks:
      - app-network
  
  mariadb:
    image: mariadb   
    ports:
      - "3306:3306"
    expose:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: r8yvpE7HivnKv5k
      MYSQL_DATABASE: wordpress
    volumes:
     - mariadb:./database:/var/lib/mysql
    networks:
      - app-network     

volumes:
  mariadb:
    external: true  
  wordpress:
    external: true  
  
networks:
  app-network:
    driver: bridge     
