version: '3'

services:
  db:
    image: mysql:8.0
    container_name: db
    restart: unless-stopped
    #env_file: .env
    environment:
      - MYSQL_DATABASE=wordpress
      - MYSQL_ROOT_PASSWORD="vdvWC.xe4>dRE"
      - MYSQL_USER="wordpress"
      - MYSQL_PASSWORD="5BLM8rXkYtrK38Ps"
    volumes:
      - dbdata:/var/lib/mysql
    command: '--default-authentication-plugin=mysql_native_password'
    networks:
      - app-network

  wordpress:
    depends_on:
      - db
    image: wordpress:5.1.1-fpm-alpine
    container_name: wordpress
    restart: unless-stopped
    #env_file: .env
    environment:
      - WORDPRESS_DB_HOST=db
      - WORDPRESS_DB_USER="wordpress"
      - WORDPRESS_DB_PASSWORD="5BLM8rXkYtrK38Ps"
      - WORDPRESS_DB_NAME=wordpress
    volumes:
      - wordpress:/var/www/html
    networks:
      - app-network

  webserver:
    depends_on:
      - wordpress
    image: nginx:1.15.12-alpine
    container_name: webserver
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - wordpress:/var/www/html
      - ./nginx-conf:/etc/nginx/conf.d
      #- certbot-etc:/etc/letsencrypt
    networks:
      - app-network

  # certbot:
  #   depends_on:
  #     - webserver
  #   image: certbot/certbot
  #   container_name: certbot
  #   volumes:
  #     #- certbot-etc:/etc/letsencrypt
  #     - wordpress:/var/www/html
  #   command: certonly --webroot --webroot-path=/var/www/html --email contato@leaftix.rocks --agree-tos --no-eff-email --staging -d leaftix.rocks -d www.leaftix.rocks

volumes:
  certbot-etc:
    external: true
  wordpress:
    external: true
  dbdata:
    external: true

networks:
  app-network:
    driver: bridge
